/* *{
    border: green 1px solid;
} */

:root {
  --color-1: #607D8B;
  --color-2: #495057;
  --color-3: #e9ecef;
  --color-4: #dee2e6;
  --color-5: #adb5bd;
  --title-font: 'Arvo', serif;
  --text-font: 'Ubuntu', sans-serif;
  --text-color: #343a40;
}

body {
  margin: 0;
  font-family: var(--text-font);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-5);
  margin: none;
  padding: 1rem;
  flex 0 0;
}

h1 {
  font-family: var(--title-font);
  color: var(--text-color);
  text-align: center;
  margin: 0;
}

h2 {
  font-family: var(--text-font);
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 0.1rem solid var(--color-5);
  color: var(--color-2);
}

main {
  display: flex;
  flex: auto;
  overflow: hidden;
}

form {
  color: var(--color-2);
}

fieldset {
  margin: 1rem 0;
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid var(--color-5);
}

legend {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tile-generator__config {
  padding: 0 1rem;
  background-color: var(--color-4);
  margin-left: 0;
  width: 20%;
}

.tile-generator__config__tile input[type='text'] {
  width: 5rem;
  height: 1.5rem;
  display: block;
}

.tile-generator__config div,
.tile-generator__config input {
  margin: 0.5rem 0;
}

.tile-generator__config__color legend span {
  display: inline-block;
  float: right;
}

.tile-generator__grid {
  margin: 2rem;
  background-color: var(--color-3);
  overflow: auto;
}

label {
  font-size: 0.8rem;
}

input[type="number"] {
  width: 3rem;
  height: 1.5rem;
}

input[type="color"] {
  height: 2rem;
  width: 4rem;
}
input[type="submit"] {
  width:100%;
  height: 2rem;
  margin: 1rem 0;
  color: var(--color-4);
  font-family: var(--title-font);
  background-color: var(--color-2);
  border-color: var(--color-2);
  border-style: none;
  border-radius: 0.5rem;
}

button, 
input[type="submit"] {
  cursor: pointer;
}

.color__btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.svg__button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  padding: 0%;
}

.color-picker {
  display: inline-block;
}

.color-picker label,
.color-picker input {
  display: block;
}

.tile-grid {
  position: relative;
  background-color: #ecf4f9;
  min-height: 500px;
  /* removes default space when tiles start on new row */
  font-size: 0;
}

.tile {
  position: relative;
  display: inline-block;
  margin: 0.1rem;
}

.grid-option {
  display: inline;
}

.grid-option input {
  margin-left: 10px;
  width: 50px;
}

.generate-btn {
  display: block;
  margin: auto;
  height: 30px;
  border-radius: 3px;
}

.hidden {
  display: none !important;
}

.row-container {
  font-size: 0;
}

footer {
  background-color: var(--color-5);
  padding: 0.5rem;
  color: var(--color-4);
  flex: 0 0;
}

footer a {
  color: var(--color-4);
}

footer p {
  margin: 0 ;
}


@media print {
  header, .tile-generator__config {
    display: none;
  }
}