/* *{
    border: green 1px solid;
} */

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

h1 {
  font-style: arial;
}
input[type="number"] {
  width: 5rem;
  height: 1.5rem;
}

form {
  background-color: rgb(178, 189, 189);
}

.row-variable,
.column-variable {
  display: inline-block;
}

.add-color,
.remove-color {
  display: inline-block;
}

.color-picker {
  display: inline-block;
}

.tile-grid {
  position: relative;
  background-color: #ecf4f9;
  min-height: 500px;
  /* removes default space when tiles start on new row */
  font-size: 0;
}

.tile {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0.1rem;
}

.grid-option {
  display: inline;
}

.grid-option input {
  margin-left: 10px;
  width: 50px;
}

.generate-btn {
  display: block;
  margin: auto;
  height: 30px;
  border-radius: 3px;
}
